@page "/active-workout"
@attribute [Authorize(Roles = "user")]

@using MCPowerlifting.Helper
@using MCPowerlifting.Models.Entities
@using MCPowerlifting.Models.ViewModels

@rendermode InteractiveServer
@inject UserService Userservice
@inject AppDbContext appDbContext
@inject NavigationManager navigationManager

<Div Display="Display.Flex" Class="justify-content-center" Style="min-width:30rem;">
    <Card Display="Display.Flex" Style="max-width:fit-content;">
        <CardHeader>
            <h1>Active Workout</h1>
        </CardHeader>
        <CardBody Display="Display.Flex" Class="justify-content-center">
            @if (!isActive)
            {
                <ListGroup Display="Display.Flex">
                    @foreach (var exercise in activeWeights)
                    {
                        <ListGroupItem>
                            <Card Class="justify-content-center mx-4">
                                <CardBody Display="Display.Flex" Class="justify-content-center mx-4">
                                    <h4>@exercise.Key: @exercise.Value Kg</h4>
                                </CardBody>
                            </Card>
                        </ListGroupItem>

                    }
                </ListGroup>
            }
            else if (isActive && !inExercise)
            {
                <CardBody>
                    @foreach (var exercise in activeWeights)
                    {
                        <Card Class="my-2">
                            <CardHeader>
                                <h2>@exercise.Key</h2>
                            </CardHeader>
                            <CardBody>
                                <h4>Weight: @exercise.Value Kg</h4>
                            </CardBody>
                            <CardFooter Display="Display.Flex" Class="justify-content-center">
                                <Button Color="Color.Primary" @onclick="() => StartExercise(exercise.Key)">Start @exercise.Key</Button>
                            </CardFooter>
                        </Card>
                    }
                </CardBody>
            }
            @if (isActive && inExercise)
            {
                <Div Display="Display.Flex" Class="flex-column">
                    <Div Display="Display.Flex" Class="justify-content-center">
                        <h1>@currentExercise</h1>
                    </Div>
                    @if (!warmUpDone)
                    {
                        <Card Style="width:auto;">
                            <CardHeader>
                                <h3>Warm Up</h3>
                            </CardHeader>
                            <CardBody Display="Display.Flex" Class="justify-content-evenly">
                                @if (!setList.Any(x => x.SetType == "warmup"))
                                {
                                    <ListGroup Flush>
                                        <ListGroupItem>
                                            <p>Not Enough weight on your working set yet.</p>
                                        </ListGroupItem>
                                        <ListGroupItem>
                                            <p>No warm up needed. Jump straight to the working sets</p>
                                        </ListGroupItem>
                                        <ListGroupItem>
                                            <Button Color="Color.Success" @onclick="() => warmUpDone = true">Okay</Button>
                                        </ListGroupItem>
                                    </ListGroup>
                                }
                                else
                                {
                                    @foreach (var set in setList.Where(x => x.SetType == "warmup"))
                                    {
                                        <Card Class="mx-2">
                                            <CardHeader Display="Display.Flex" Class="justify-content-center">
                                                <h4>Set @set.SetNumber</h4>
                                            </CardHeader>
                                            <CardBody>
                                                @if (set.IsSuccessful == null)
                                                {
                                                    <h4>Weight: @set.SetWeight Kg</h4>
                                                    <h4>Reps: @set.SetReps</h4>
                                                }
                                                else
                                                {
                                                    <Alert Color="Color.Success" Visible>
                                                        <AlertMessage>Warm Up set Done</AlertMessage>
                                                    </Alert>
                                                }
                                            </CardBody>
                                            <CardFooter>
                                                <Button Color="Color.Success" name="@set.SetNumber" @onclick="() => WarmUpDone(set)">Done</Button>
                                            </CardFooter>
                                        </Card>
                                    }
                                }
                            </CardBody>
                        </Card>
                    }
                    else
                    {
                        <Card>
                            <CardHeader>
                                Working Sets
                            </CardHeader>
                            <CardBody Display="Display.Flex" Class="justify-content-between">
                                @foreach (var set in setList.Where(x => x.SetType == "working"))
                                {
                                    <Card>
                                        <CardHeader>
                                            <h4>Set @set.SetNumber</h4>
                                        </CardHeader>
                                        <CardBody>
                                            @if (set.IsSuccessful.HasValue && set.IsSuccessful.Value)
                                            {
                                                <h4>Weight: @set.SetWeight Kg</h4>
                                                <h4>Reps: @set.SetReps</h4>
                                                <div class="alert alert-success">Set erfolgreich!</div>
                                            }
                                            else if (set.IsSuccessful.HasValue && !set.IsSuccessful.Value)
                                            {
                                                <h4>Weight: @set.SetWeight Kg</h4>
                                                <h4>Reps: @set.SetReps</h4>
                                                <div class="alert alert-danger">Set nicht geschafft!</div>
                                            }
                                            else
                                            {
                                                <h4>Weight: @set.SetWeight Kg</h4>
                                                <h4>Reps: @set.SetReps</h4>
                                            }
                                        </CardBody>
                                        <CardFooter>
                                            <RadioGroup TValue="bool" Name="@($"succeed-{set.SetNumber}")" @bind-CheckedValue?="set.IsSuccessful" Buttons>
                                                <Radio Value="true" Color="Color.Success"> Success</Radio>
                                                <Radio Value="false" Color="Color.Danger">Failed</Radio>
                                            </RadioGroup>
                                        </CardFooter>
                                    </Card>
                                }
                            </CardBody>
                            <CardFooter>
                                <Button Color="Color.Dark" Clicked="AbortModalShow">Abort Exercise</Button>
                                <Button Color="Color.Primary" >Finish Exercise</Button>
                            </CardFooter>
                        </Card>
                    }
                </Div> 
            }
        </CardBody>
        @if (!isActive)
        {
            <CardFooter Display="Display.Flex" Class="justify-content-between">
                <Button Color="Color.Dark" @onclick="AbortWorkout">Back</Button>
                <Button Color="Color.Primary" @onclick="ProgramStart">Start Workout</Button>
            </CardFooter>
        }
        @if (isActive && !inExercise)
        {
            <CardFooter Display="Display.Flex" Class="justify-content-center">
                <Button Color="Color.Danger" @onclick="AbortCurrent">Cancel Workout</Button>
            </CardFooter>
        }
    </Card>
</Div>

<!-- #region Modal-->
<Modal @ref="abortModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Cancel Exercise?</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Alert Color="Color.Danger" Visible>
                <AlertMessage>
                    If you cancel the Exercise all progress will be lost!
                </AlertMessage>
            </Alert>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="AbortModalHide">Cancel</Button>
            <Button Color="Color.Primary" Clicked="@(() => {AbortExercise(); AbortModalHide();})">Abort</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
<!-- #endregion -->



@code {

    private ActiveWorkoutViewModel Model = new ActiveWorkoutViewModel();
    private MadCowWorkoutCalculator madCowWorkoutCalculator = new MadCowWorkoutCalculator();

    private ActiveExercise activeExercise = new ActiveExercise();

    private List<Exercise> exercises = new List<Exercise>();
    private List<Workout> workouts = new List<Workout>();
    private List<WorkoutExercise> workoutExercises = new List<WorkoutExercise>();

    private List<ActiveExercise> setList = new List<ActiveExercise>();

    private Dictionary<string, double> activeWeights = new Dictionary<string, double>();

    //Todo: Implementierung auswahl verschiedener Workouts
    // private List<Program> programs = new List<Program>();
    // InDev hilfe, da nur ein program
    private string aktivesProgram = "madcow 5x5";
    private string currentExercise;

    private bool isActive = false;
    private bool inExercise = false;
    private bool warmUpDone = false;


    private bool isNew = false;

    // private bool isSuccessChecked { get; set; } = false;
    // private bool isFailedChecked { get; set; } = false;

    override protected async Task OnInitializedAsync()
    {
        var userId = Userservice.GetCurrentUserId();
        // Abrufen der Query-Parameter aus der URL
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        var queryParameters = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);


        if (queryParameters.TryGetValue("isNew", out var isNewParam))
        {
            isNew = bool.Parse(isNewParam);

            if(isNew != null && true)
            {
                List<Starting_Weights> startingWeights = new List<Starting_Weights>();
                startingWeights = await appDbContext.startingWeights.Where(x => x.UserId == userId).ToListAsync();

                activeWeights = madCowWorkoutCalculator.CalculateFromStartingWeight(startingWeights);

                Model.WorkoutLoad = "Heavy";
            }
        }
    }

    private void ProgramStart()
    {
        isActive = true;
    }

    private void StartExercise(string exerciseName)
    {
        inExercise = true;
        warmUpDone = false;
        currentExercise = exerciseName;

        double maxWeight = activeWeights[exerciseName];

        setList = madCowWorkoutCalculator.CalculateExercise(exerciseName, maxWeight, Model.WorkoutLoad);

    }

    private void WarmUpDone(ActiveExercise set)
    {
        int lastSet = setList.Where(x => x.SetType == "warmup").Count();
        set.IsSuccessful = true;
        if(set.SetNumber == lastSet)
        {
            warmUpDone = true;
        }
        StateHasChanged();
    }

    private void AbortExercise()
    {
        inExercise = false;
    }

    private void AbortWorkout()
    {
        navigationManager.NavigateTo("/");
    }

    private void AbortCurrent()
    {
        isActive = false;
    }


    #region
    private Modal abortModal;

    private Task AbortModalShow()
    {
        return abortModal.Show();
    }
    private Task AbortModalHide()
    {
        return abortModal.Hide();
    }
    #endregion
    
}
