@page "/Account/Login"

<MudContainer MaxWidth="MaxWidth.Small" Class="mt-10">
    <MudCard Elevation="3" Class="rounded-lg">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h4" Color="Color.Primary" Align="Align.Center" Class="mb-2">Login</MudText>
                <MudText Typo="Typo.body2" Align="Align.Center">Login as super@acme.com with any password to login with Super role.</MudText>
            </CardHeaderContent>
        </MudCardHeader>

        <MudCardContent>
            <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <MudStack Spacing="4">
                    <div>
                        <InputText @ref="@inputTextFocus" id="email" class="d-none" @bind-Value="loginModel.Email" />
                        <MudTextField 
                            Label="E-Mail" 
                            @bind-Value="loginModel.Email" 
                            Variant="Variant.Outlined" 
                            For="@(() => loginModel.Email)" 
                            FullWidth="true" 
                            Immediate="true" />
                    </div>

                    <MudTextField 
                        Label="Passwort" 
                        @bind-Value="loginModel.Password" 
                        Variant="Variant.Outlined" 
                        InputType="@(showPassword ? InputType.Text : InputType.Password)" 
                        For="@(() => loginModel.Password)" 
                        FullWidth="true" 
                        Immediate="true"
                        Adornment="Adornment.End" 
                        AdornmentIcon="@(showPassword ? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)" 
                        OnAdornmentClick="HandlePassword" />

                    <MudCheckBox 
                        T="bool"
                        @bind-Checked="showPassword" 
                        Label="Passwort anzeigen" 
                        Color="Color.Primary" />
                    
                    @if (DisplayError == "block;")
                    {
                        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true">
                            @errorMessage
                        </MudAlert>
                    }

                    <MudButton 
                        ButtonType="ButtonType.Submit" 
                        Variant="Variant.Filled" 
                        Color="Color.Primary" 
                        Size="Size.Large" 
                        FullWidth="true"
                        Class="mt-3">
                        Anmelden
                    </MudButton>
                </MudStack>
            </EditForm>
        </MudCardContent>
    </MudCard>
</MudContainer>